* {
  margin: 0;
  padding: 0;
}
h1 {
  background-color: #2d002d;
  color: white;
  font-family: "Arial", sans-serif;
  padding: 30px;
  position: sticky;
}

h2{
	color: white;
	margin:25px;
}
.container {
  display: flex;
  justify-content: flex-end;
/*  overflow: scroll;
  flex-direction: column;*/
 }

nav li{
  display: inline-block;
  margin: 10px;
  position: relative;
  bottom: 65px;
  right: 25px
}

nav a {
  font-family: "Arial", sans-serif;
  color: white;
}

body {
  background-color: black;
}

p {
	color: white;
	margin: 25px;
}

table {
	background-color: white;
	margin: 25px;
}



td,
th {
	border:solid #0f0f0a;
	padding: 3px;
}
/*.flex-container {
  display: flex;
  gap: 20px;
  margin: 30px;
  justify-content: center;
  min-height: 200px;
  align-items: center;
} */

.left-image img {
  border-style: solid;
  display: flex;
  flex: 1; 
  max-height: 400px;
  max-width: 400px; 
}

.right-text {
  color: white;
  background-color: #212422;
  border-style: solid;
/*  max-height: 400px;*/
  width: 100%;
  overflow: hidden;
}

.right-text p {
	color: yellow;
	font-size: 21px;
}

/* legend squares */

.legend {
  	display: flex
  }

.legend p {
	flex: 5;
}

  .archo-square {
  	background-color: #ffff66;
  	position: relative;
  	top: 25px;
  	height: 15px;
  	width: 15px;
  	border: solid;
  }

  .inactive-square {
  	background-color: darkgray;
  	position: relative;
  	top: 25px;
  	height: 15px;
  	width: 15px;
  	border: solid;
 }

  .archo {
  	background-color: #ffff66;
  }

  .inactive {
  	background-color: darkgray;
  }

  footer {
  	display: flex;
  	justify-content: center;
  }